{% load static %}

<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Пожалуйста работай{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'developquiz/css/styles.css' %}"/>

    {% block head %}

    {% endblock %}
</head>
<body>

<nav>
    <div class="nav-left">
        <a href="{% url 'index' %}">Категории тестов</a>
    </div>
    <div class="nav-right">
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button method="submit">
                    Выход
                </button>

            </form>



        {% else %}
            <a href="{% url 'login' %}">Вход</a>
        {% endif %}
    </div>
</nav>

{% block content %} {% endblock %}
<div class="parent-div">
    <div class="centered-div">

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

    </div>
</div>


</body>
</html>